In [2]:
import pandas as pd
import numpy as np

In [3]:
data1 = pd.read_csv("1125_1.csv")
data2 = pd.read_csv("1203_3.csv")
data3 = pd.read_csv("tmp——843.csv")
# data4 = pd.read_csv("1118_5.csv")
# data5 = pd.read_csv("1117_1.csv")

In [26]:
def stat_func(x):
    if x>0.5:
        a = 1
        return a
    else:
        a = 0
        return a
data1['score'] = data1['score'].apply(lambda x:stat_func(x))

In [43]:
def stat_func(x):
    if x>0.5:
        a = 1
        return a
    else:
        a = 0
        return a
data2['final_score'] = data2['score'].apply(lambda x:stat_func(x))

In [44]:
def stat_func(x):
    if x>0.5:
        a = 1
        return a
    else:
        a = 0
        return a
data3['final_score'] = data3['score'].apply(lambda x:stat_func(x))

In [7]:
# data1['score2'] = data2['final_score']
# data1['score3'] = data3['final_score']
data1['score2'] = data3['score']
data1['score3'] = data3['score']

In [9]:
data1

,id,score,score2,score3
0,9c7fa510616a683058ce97d0bc768a621cd85ab1e87da2a3,0.000291,0.000351,0.000351
1,da8691b210adb3f67820f5e0c87b337d63112cee52211888,0.000290,0.000440,0.000440
2,9c7fa510616a68309e4badf2a7a3123c0462fb85bf28ef17,0.000262,0.000321,0.000321
3,f000950527a6feb6ed308bc4c7ae11276eab86480f8e03db,0.005745,0.006424,0.006424
4,f000950527a6feb617e8d6ca7025dcf9d765429969122069,0.003550,0.006173,0.006173
...,...,...,...,...
9995,f1c1045b13d18329a2bd99d2a7e2227688c0d69bf1d1e325,0.003013,0.003552,0.003552
9996,f000950527a6feb6bde38216d7cbbf32e66d3a3a96d4dbda,0.678067,0.701209,0.701209
9997,da8691b210adb3f65b43370d3a362f4aa1d3b16b5ba0c9d7,0.002358,0.003474,0.003474
9998,516ab81418ed215dcbbf0614a7b929e691f8eed153d7bb31,0.020488,0.016135,0.016135
9999,9c7fa510616a68303d3427d4bfd4b0cf3e4843f2bf3f637a,0.002952,0.007565,0.007565

In [10]:
data1['final_score'] = (data1['score']+data1['score2']+data1['score3'])/3

In [11]:
data1

,id,score,score2,score3,final_score
0,9c7fa510616a683058ce97d0bc768a621cd85ab1e87da2a3,0.000291,0.000351,0.000351,0.000331
1,da8691b210adb3f67820f5e0c87b337d63112cee52211888,0.000290,0.000440,0.000440,0.000390
2,9c7fa510616a68309e4badf2a7a3123c0462fb85bf28ef17,0.000262,0.000321,0.000321,0.000302
3,f000950527a6feb6ed308bc4c7ae11276eab86480f8e03db,0.005745,0.006424,0.006424,0.006198
4,f000950527a6feb617e8d6ca7025dcf9d765429969122069,0.003550,0.006173,0.006173,0.005299
...,...,...,...,...,...
9995,f1c1045b13d18329a2bd99d2a7e2227688c0d69bf1d1e325,0.003013,0.003552,0.003552,0.003372
9996,f000950527a6feb6bde38216d7cbbf32e66d3a3a96d4dbda,0.678067,0.701209,0.701209,0.693495
9997,da8691b210adb3f65b43370d3a362f4aa1d3b16b5ba0c9d7,0.002358,0.003474,0.003474,0.003102
9998,516ab81418ed215dcbbf0614a7b929e691f8eed153d7bb31,0.020488,0.016135,0.016135,0.017586
9999,9c7fa510616a68303d3427d4bfd4b0cf3e4843f2bf3f637a,0.002952,0.007565,0.007565,0.006027

In [12]:
data1[data1['final_score']>=0.5]

,id,score,score2,score3,final_score
7,f000950527a6feb6253f50f16bd8640f3bc1fa52d1fdbe29,0.690601,0.690850,0.690850,0.690767
48,e9f7b28ec10e047061790ff5b1dcb733445066113318d9f7,0.783317,0.758532,0.758532,0.766794
49,f000950527a6feb6e8bd9919e2ca363359bcfa997a0f9de7,0.971830,0.968496,0.968496,0.969607
55,f000950527a6feb6d71de3382afa0bc5ff87bb65477f698a,0.776179,0.787742,0.787742,0.783888
56,f000950527a6feb6d000b7e4a781fb5250c24acc72204cd7,0.817374,0.861189,0.861189,0.846584
...,...,...,...,...,...
9965,f000950527a6feb67de4be9ea8263f625e98ae0a80cf8878,0.762152,0.784234,0.784234,0.776873
9979,f000950527a6feb6cb8976eb56233ede461cb23103f85f32,0.922590,0.900257,0.900257,0.907701
9984,59b38c56de383683dc424c7666377874fbbd57e938fa889b,0.916429,0.937543,0.937543,0.930505
9986,516ab81418ed215d1b61f3879f83e06cf22bbd8faa07738b,0.830885,0.781695,0.781695,0.798092
9996,f000950527a6feb6bde38216d7cbbf32e66d3a3a96d4dbda,0.678067,0.701209,0.701209,0.693495

In [51]:
def stat_func(x):
    if x>0.5:
        a = 1
        return a
    else:
        a = 0
        return a
data1['final_score'] = data1['final_score'].apply(lambda x:stat_func(x))

In [13]:
data1['final_score'].value_counts()

0.000288    13
0.000281    10
0.000274    10
0.000284    10
0.000303     8
            ..
0.054515     1
0.000344     1
0.019458     1
0.004860     1
0.185052     1
Name: final_score, Length: 9824, dtype: int64

In [14]:
data1['score'] = data1['final_score']
data1 = data1[['id','score']]

In [15]:
data1['score'].value_counts()

0.000288    13
0.000281    10
0.000274    10
0.000284    10
0.000303     8
            ..
0.054515     1
0.000344     1
0.019458     1
0.004860     1
0.185052     1
Name: score, Length: 9824, dtype: int64

In [16]:
data1.to_csv("1203_7.csv",index=False)